<li class="list-group-item no-border">
    <button class="btn btn-link" type="button" data-bs-toggle="collapse"
            data-bs-target="#department-{{ department.id }}"
            aria-expanded="false" aria-controls="department-{{ department.id }}">
        <i class="bi bi-chevron-right"></i> {{ department.name }}
    </button>
    <div class="collapse" id="department-{{ department.id }}">
        <ul class="list-group ms-3">
            {% if department.children.all %}
                {% for child in department.children.all %}
                    {% include 'department_item.html' with department=child %}
                {% endfor %}
            {% endif %}
            {% for employee in department.employees.all %}
                <li class="list-group-item no-border ms-3">
                    <b>ФИО</b>: {{ employee.full_name }}. <b>Должность</b>: {{ employee.job_title }}.
                    <b>Дата приема на работу</b>: {{ employee.employment_date }}. <b>Зарплата</b>: {{ employee.salary }} руб.
                </li>
            {% endfor %}
        </ul>
    </div>
</li>
